.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 174px);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: 500px;
}

.site-blocks-cover h2 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.site-blocks-cover h1 {
    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 70px;
    }
}

.site-blocks-cover p {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-blocks-cover .site-block-cover-content {
    margin-top: 20%;
    text-align: center;
}

@media (min-width: 768px) {
    .site-blocks-cover .site-block-cover-content {
        margin-top: 50%;
    }
}

.site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 20%;
    text-align: center;
}

@media (min-width: 768px) {
    .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 30%;
    }
}

.custom-border-bottom {
    border-bottom: 1px solid #f9f9f9;
}

.block-16 figure {
    position: relative;
}

.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: none;
}

.block-16 figure .play-button:hover {
    opacity: 1;
}

.block-16 figure .play-button>span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
}

.site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative;
}

.site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ee4266;
}

.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #ee4266;
}

.block-38 .block-38-header .block-38-heading {
    color: #000;
    margin: 0;
    font-weight: 400;
}

.block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
}

.block-38 .block-38-header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}