.all__rounder__color {
  color: #ee4266;
}

input[type="checkbox"] {
  accent-color: #ee4266;
}

.input__type:focus {
  outline: 2px solid #ee4266;
}

.common__border__bottom {
  border-bottom: 2xp solid #ee4266;
}